<!DOCTYPE html>
<html>
<head>
    <!--Load the AJAX API-->
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Data Pipeline Project Byte 2
    </title>
</head>
<body>
<h1>Data Pipeline Project Byte 2</h1>

<iframe width="500" height="500" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col16%3E%3E0+from+1mDZxTpi-PJW7-oFNFcPexAuIHE3xJAIFCjlFQ_ZJ+where+col1%3E%3E0+%3D+&#39;DOG&#39;&amp;viz=MAP&amp;h=false&amp;lat=36.45727641086305&amp;lng=-86.47892578124998&amp;t=1&amp;z=6&amp;l=col16%3E%3E0&amp;y=2&amp;tmplt=2&amp;hml=TWO_COL_LAT_LNG"></iframe>

</body>
</html>
